<html>
<head>
<title>Waketech Rocks</title>
</head>
<style>
  h1{background-color: lightgray;}
</style>
<body>
<center><h1>The Best College </h1></center>
<p>Of all the colleges in North Carolina, 
<a href= "https://www.waketech.edu/admissions-aid/become-a-student"> Wake Tech</a> is
perhaps the most promising.</p>

<img src = http://www.waketech.edu//themes/talon/assets/images/wake-tech-2017.png
width="200" height="200" Wake Tech logo>

<img src = https://www.androidcentral.com/sites/androidcentral.com/files/styles/w830/public/article_images/2019/06/no-mans-sky-beyond-psvr-art-cover.png?itok=vGnbDfQ_
width="200" height="200" Wake Tech logo>
</a>
</p>
<p>At Wake Tech the sky is the limit, 
<a href= "https://www.briantracy.com/blog/personal-success/26-motivational-quotes-for-success/"> :) </a> Be inspired!.</p>
</body>
</html>
