<!DOCTYPE html>

<html>

<head>

<title>WEB 115 Final Project</title>

</head>

<body>

<script src="projectJS.js"></script>

</body>

</html>

<style>
t{
font-size:300%;
color:red;
}


b{

color:black;

font-family:monospace;

font-size:20px;

margin:10px;

padding:10px;

text-align: left;

}

i{

color:teal;

font-family:monospace;

font-size:20px;

margin:10px;

padding:10px;

}

input,textarea{width:200px;padding:10px;}

input[type=button]{

background-color:blue;

color:white;

border:0px;

border-radius:10px;

}



</style>
